<div class="modal fade" id="informationModal" tabindex="-1" role="dialog" aria-labelledby="informationModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">These are the different ways you can use this app!</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>The different controls</h4>
                <div>
                    <h3>Buttons!</h3>
                    <button class="btn btn-danger btn-lg">No</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-success btn-lg">Yes</button>
                    <p>At the bottom of the page you will find these buttons. These buttons will allow you vote either yes the scan is good or no the scan is bad</p>
                </div>
                <div>
                    <h3>You can use your keyboard!</h3>
                    <p>If you have a keyboard you can use the left and right arrows keys on the keyboard to rate the images. Left is for no this is not a good scan and right is for yes this is a good scan</p>
                </div>
                <div>
                    <h3>You can swipe!</h3>
                    <p>You can also swipe on the card shown to rate the images. Left is for a bad scan and right is a good scan</p>
                </div>

            </div>
        </div>
    </div>
</div>