<nav class="navbar navbar-default">
    <div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">Swipe Right Brains</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="navbar-link" href="/home/">Home</a>
                </li>
                <li>
                    <a class="navbar-link" href="/tutorial/">Tutorial</a>
                </li>
                <li>
                    <a class="navbar-link" href="/practice/">Practice</a>
                </li>
                <li>
                    <a class="navbar-link" href="/quiz/">Quiz</a>
                </li>
                <li>
                    <a class="navbar-link" href="/admin/">Admin</a>
                </li>
                <li>
                    <a class="navbar-link" href="/ratings/">Ratings</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login">Login</a></li>
                <li><a href="/registration/account">Register</a></li>
            </ul>
        </div>
    </div>
</nav>