<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head(title='About Brain Imaging')" ></head>
<style>

    .card{
        margin-bottom: 10px;
    }

    @media screen and (min-width: 1200px) {
        .card {
            width: 30%;
            display: inline-block;
            vertical-align: top;
        }
    }

</style>

<body>

<nav class="navbar navbar-default" th:replace="fragments/navigation"></nav>
<div class="container">
    <section>
        <h2>About Brain Imaging</h2>

        <h3>Making pictures of wires in the brain</h3>

        <p>The different areas of the brain communicate through bunches of long nerve fibres called axons. They are called white matter because they are white when seen with the naked eye. There are often referred to as ‘the wiring of the brain’. </p>

        <div class="card">
            <img class="card-img-top" src="/img/info_page_1.png">
        </div>

        <p>Axons are important nerve fibres which carry information about our environment, our vital organs and even our memories. Bundles of axons join to form pathways called fibre tracts which can transport this information to different parts of the brain. </p>
        <p>In many brain disorders, such as dementia, some of these pathways may become disrupted.</p>
    </section>


    <section>
        <h2>How does diffusion MRI work?</h2>

        <p>Diffusion Magnetic Resonance Imaging (or dMRI) is a technique that allows us to look at the white matter of the brain in living people.</p>


        <div class="card">
            <img class="card-img-top" src="/img/info_page_2.jpg" width="100%">
        </div>

        <p>Think of the axons in the white matter like drinking straws: water can move up and down much more easily than it can move from side to side. Diffusion MRI detects the motion of water molecules to create pictures. </p>

        <div class="card">
            <img class="card-img-top" src="/img/info_page_3.png" width="100%">
            <p class="card-title text-center">This image shows water molecules moving along an axon - or a drinking straw!</p>
        </div>

        <p>Using this technique, we can make a 3D map of the brain showing the direction of white matter fibre tracts:</p>

        <div class="card">
            <img class="card-img-top" src="/img/info_page_4.gif" width="100%">
            <p class="card-title text-center">This image shows a diffusion MRI scan of the brain and it is colour coded to show the direction of white matter tracts. For example, red represents tracts running from the left side of the brain to the right.</p>
        </div>


    </section>

    <section>


        <h2>The fornix – a brain pathway for memory</h2>

        <p>The fornix is a white matter pathway deep in the brain. It is shaped a bit like the wishbone in a chicken, with two ‘legs’ going into each side (or hemisphere) of the brain. It links up areas of the brain that are vital for storing new memories. These areas are affected in early Alzheimer’s disease. </p>



        <P>Diffusion MRI scans can show changes in the structure of the fornix before patients get any symptoms of Alzheimer’s disease. This may help scientists identify individuals at high risk of developing Alzheimer’s disease.</P>

    </section>

    <section>
        <h2>How do we model the fornix?</h2>
        <P>Using information from diffusion MRI we can reconstruct 3D fibre tracts in living brains. We do this using a software called probabilistic tractography. Here are some of the results of tractography:</P>

        <div class="container-fluid">
            <h3>What a Good Fornix Looks Like</h3>

            <div class="card ">
                <img class="card-img-top trainingCardImg" src="/img/img8.png">
                <div class="card-body trainingCardBody">
                    <h5 class="card-title">From the Top</h5>
                    <p class="card-text">This is what a good fornix tractography image looks like from the top.</p>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top trainingCardImg" src="/img/img9.png">
                <div class="card-body trainingCardBody">
                    <h5 class="card-title">From the Front</h5>
                    <p class="card-text">This is what a good fornix tractography image looks like from the front.</p>
                </div>
            </div>


            <div class="card">
                <img class="card-img-top trainingCardImg" src="/img/img10.png">
                <div class="card-body trainingCardBody">
                    <h5 class="card-title">From the Side</h5>
                    <p class="card-text">This is what a good fornix tractography image looks like from the side.</p>
                </div>
            </div>
        </div>
    </section>

    <section>

        <div class="card" style="width: 100%;">
            <div class="card-body">
                <div class="card-title">
                    <h4>Jargon Buster</h4>
                </div>
                <p> <b>Neurone – </b> a brain cell</p>
                <p> <b>Axon – </b> a brain cell nerve fibre</p>
                <p> <b>White matter – </b> groups of axons, called white matter because they look white</p>
                <p> <b>White matter pathways or tracts – </b> bundles of axons connecting different brain areas together</p>
                <p> <b>Fornix – </b> a wishbone-shaped bundle of axons involved in memory formation and learning ability</p>
                <p> <b>Diffusion Magnetic Resonance Imaging (Diffusion MRI) – </b> a brain scanning method that detects the movement of water molecules to map the shape of pathways in the brain</p>
                <p> <b>Tractography – </b> this uses information from dMRI to reconstruct 3D white matter tracts.</p>
                <p> <b>Alzheimer’s Disease – </b> the most common form of dementia.</p>
        </div>
        </div>

    </section>

    <footer>
        <p><a href="https://www.cardiff.ac.uk/cardiff-university-brain-research-imaging-centre/">CUBRIC</a></p>
    </footer>

</div>
</body>
</html>