<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>
    <title>Admin | SwipeRightBrains</title>
</head>
<body>

<nav class="navbar navbar-default" th:replace="fragments/navigation"></nav>

<div class="container">
    <h1>Admin</h1>

    <h2>Upload New Image(s)</h2>
    <form action="/images/new" method="post" enctype="multipart/form-data">
        Select Image 1: <input type="file" name="image1"><br>
        Select Image 2: <input type="file" name="image2"><br>
        Select Image 3: <input type="file" name="image3"><br>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    <h2>Images</h2>

    <table class="table">
        <tr><th>ID</th><th>Filename 1</th><th>Filename 2</th><th>Filename 3</th><th>Known good/bad</th><th>Good responses</th><th>Bad responses</th></tr>
    </table>

</div>

<script>
    $(function() {
        $.getJSON("/images/", function( images ) {
            for (var i = 0; i < images.length; i++) {
                $("table").append('<tr data-id="'+images[i].id+'"><td>'+images[i].id+'</td><td><a target="_blank" href="/brain_images/'+images[i].path1+'">'+images[i].path1+'</a></td><td><a target="_blank" href="/brain_images/'+images[i].path2+'">'+images[i].path2+'</a></td><td><a target="_blank" href="/brain_images/'+images[i].path3+'">'+images[i].path3+'</a></td><td class="knownGood">'+images[i].knownGood+'</td><td>Good responses</td><td>Bad responses</td></tr>');
            }

            $("table tr").each(function() {
                var id = $(this).data("id");
                var knownGood = $(this).find(".knownGood").text();

                $(this).find(".knownGood").html('<select class="form-control" data-id="'+id+'">\n' +
                    '    <option value="null">Unknown</option>\n' +
                    '    <option value="true">True</option>\n' +
                    '    <option value="false">False</option>\n' +
                    '</select>');

                $(this).find(".knownGood select").val(knownGood);

                $(this).find(".knownGood select").on("change", function (e) {

                    var knownGood = $(this).val();

                    if(knownGood === "true"){
                        knownGood = true;
                    }else if(knownGood === "false"){
                        knownGood = false;
                    }else{
                        knownGood = null;
                    }

                    $.post("/images/"+$(this).data("id")+"/setKnownGood", { knownGood: knownGood })
                        .done(function( data ) {
                            location.reload();
                        });
                });
            });
        });
    });
</script>

</body>
</html>