<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>
    <title>Practice | SwipeRightBrains</title>
</head>
<body>

<nav class="navbar navbar-default" th:replace="fragments/navigation"></nav>

<div class="container">
    <h1>Admin</h1>

    <h2>Upload New Image(s)</h2>
    <form action="/images/new" method="post" enctype="multipart/form-data">
        Select images: <input type="file" name="images" multiple><br>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    <h2>Images</h2>

    <table class="table">
        <tr><th>ID</th><th>Filename</th><th>Known good/bad</th><th>Good responses</th><th>Bad responses</th></tr>
    </table>

</div>

<script>
    $(function() {
        $.getJSON("/images/", function( images ) {
            for (var i = 0; i < images.length; i++) {
                $("table").append('<tr><td>'+images[i].id+'</td><td>'+images[i].filename+'</td><td>Known good/bad</td><td>Good responses</td><td>Bad responses</td></tr>');
            }
        });
    });
</script>

</body>
</html>