<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head(title='Certificate')" ></head>
    <head>
        <script>

            $(function () {
                $.ajax({
                    type: "GET",
                    url: "/api/rewards/",
                    success: function(data){
                        console.log(data);
                        var achieved = false;
                        jQuery.each(data, function(i, val) {
                            console.log(i);
                            if(val == 1){
                                $("#"+i).show();
                                $("#reward-head").show();
                                achieved = true;
                            } else {
                                $("#"+i).hide();
                                $("#"+i).addClass("ignorePDF");
                            }
                        })
                        if(!achieved){
                            $("#reward-head").hide();
                            $("#reward-head").addClass("ignorePDF");
                        }
                    },
                    error: function(){
                        alert("There was an error getting this data.");
                    }
                });

                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1; //January is 0!
                var yyyy = today.getFullYear();

                if(dd<10) {
                    dd = '0'+dd
                }

                if(mm<10) {
                    mm = '0'+mm
                }

                today = dd + '/' + mm + '/' + yyyy;
                $("#date").text(today);
            });

            $.ajax({
                type: "GET",
                url: "/api/ratings/responses/good/amount",
                success: function (data) {
                    $("#good-responses").text(data);
                }
            });

            $.ajax({
                type: "GET",
                url: "/api/ratings/responses/bad/amount",
                success: function (data) {
                    $("#bad-responses").text(data);
                }
            });


            var getCertificate = function () {

                var certificate = $("#certificate")[0];

                html2canvas(certificate).then(function(canvas) {
                    var image = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
                    window.location.href=image;
                });
            }
        </script>
    </head>
    <body>
        <div class="container">
            <div class="card certificate" id="certificate">
                <div class="card-body certificate-content container">
                    <h2>NeuroSwipe certificate</h2>
                    <h2>Thank you <span th:text="${profile.getUsername()}"></span> for your participation</h2>
                    <br><br>
                    <h3>How you have helped</h3>
                    <h4>You have made <span th:text="${numberOfRatings}"></span> ratings on our scans!</h4>
                    <h4>You have rated <span id="good-responses">0</span> of them good and <span id="bad-responses">0</span> of them bad</h4>
                    <br><br>
                    <h5 id="reward-head" style="display: none;">These are the rewards you have achieved</h5>
                    <p style="display: none;" id="training">You completed the training</p>
                    <p style="display: none;" id="practice">You got 10 practice questions correct</p>
                    <p style="display: none;" id="sort25">You rated 25 scans for us</p>
                    <p style="display: none;" id="sort50">You rated 50 scans for us</p>
                    <P style="display: none;" id="feedback">You left some feedback</P>
                    <div class="row certificate-footer">
                        <div >Awarded on <span id="date">00/00/0000</span> </div>
                        <div class="ml-auto">NeuroSwipe | CUBRIC</div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary ignorePDF" onclick="getCertificate()">Save your certificate</button>
        </div>
    </body>
</html>

