<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head(title='Change pasword')" ></head>
    <body>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">Change your password below</h1>
                </div>
                <div class="card-body">
                    <div hidden class="alert alert-danger" role="alert" id="error">
                        Your passwords either did not meet the minimum strength requirement or did not match
                    </div>
                    <form onsubmit="savePassword(); return false;">
                        <div class="form-group">
                            <label for="password">Enter your new password</label>
                            <input id="password" type="password" placeholder="Enter new password here">
                            <meter max="4" id="password-strength-meter"></meter>
                            <p id="password-strength-text"></p>
                        </div>
                        <div class="form-group">
                            <label for="matchingpassword">Please confirm your password here</label>
                            <input id="matchingpassword" type="password" placeholder="Confirm your password here">
                        </div>
                        <button type="submit">Save password</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script>
      $(function() {
          $("#password").keyup(function (e) {
              var score = zxcvbn($("#password").val()).score;
              //Dont know why but jquery wont get this element
              // $("password-strength-meter").value = score;
              document.getElementById("password-strength-meter").value = score;
              var strength = {
                  0: "Poor",
                  1: "Bad",
                  2: "Weak",
                  3: "Good",
                  4: "Strong"
              };
              $("#password-strength-text").text("Your password strength: "+strength[score]);
          })
      });

      function savePassword() {
          $.ajax({
              url: '/api/account/update/password',
              type: 'POST',
              data: {"password": $("#password").val(), "matchingpassword": $("#matchingpassword").val()},
              success: function (data) {
                  if(data){
                      window.location.href = "/logout"
                  } else {
                      $("#error").removeAttr("hidden");
                  }
              },
              error: function(data){
              },
              dataType: 'json'
          });
      }
    </script>
</html>