<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <title>Register for swipe right for brains</title>
    </head>
    <body>

        <nav class="navbar navbar-default">
            <div>
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Swipe right brains</a>
                </div>
            </div>
        </nav>

        <div class="container">
            <h1>Add some details to your profile</h1>
            <h2>Register your details below</h2>

        </div>
    </body>
</html>