<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
        <script src="/js/bootstrap.js"></script>
        <title>Feedback | SwipeRightBrains</title>
    </head>
    <body>

        <nav class="navbar navbar-default" th:replace="fragments/navigation"></nav>

        <div class="container">
            <div class="alert alert-success">
                <h1>Thank you for your feedback!</h1>
                <p>We have saved your feedback and will review it soon.</p>
            </div>
        </div>
    </body>
</html>