<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head(title='Feedback')" ></head>
    <body>
        <nav class="navbar navbar-default" th:replace="fragments/navigation"></nav>
        <div class="container">
            <div class="alert alert-success">
                <h1>Thank you for your feedback!</h1>
                <p>We have saved your feedback and will review it soon.</p>
            </div>
        </div>
        <script>
            $(function () {
                $.ajax({
                    type: "GET",
                    url: "/api/rewards/get/feedback",
                    success: function(data){
                        if(!data){
                            $('#rewardModal').modal('show');
                            $.ajax({
                                type: "POST",
                                url: "/api/rewards/set/feedback?value=1",
                                success: function(data){
                                },
                                error: function(){
                                    alert("There was an error getting this data.");
                                }
                            });
                        }
                    },
                    error: function(){
                        alert("There was an error getting this data.");
                    }
                });
            })
        </script>
    </body>
</html>