<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head(title='Feedback')" ></head>
    <body>

        <nav class="navbar navbar-default" th:replace="fragments/navigation"></nav>

        <div class="container">
            <h1>Please provide your feedback to help us out</h1>
            <form action="#" id="feedbackForm" class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="feedbackText">Your Feedback</label>
                    <div class="col-sm-10">
                        <textarea id="feedbackText" class="form-control"></textarea>
                    </div>
                </div>

                <br>

                <h3>Introduction</h3>

                <div>
                    <label class="control-label" for="feedbackText">Did the introduction give you the right amount of information about the project and the task?</label>
                    <div>
                        <select class="form-control">
                            <option value="Not At All">Not enough information</option>
                            <option value="Not Really">About the right amount of information</option>
                            <option value="Yes, mostly">Too much information</option>
                        </select>
                    </div>
                </div>

                <br>

                <div class="form-group">
                <label class="control-label" for="feedbackText">Did you feel you understood what it is all about?</label>
                <div>
                    <select class="form-control">
                        <option value="Not At All">Not At All</option>
                        <option value="Not Really">Not Really</option>
                        <option value="Yes, mostly">Yes, mostly</option>
                        <option value="Yes Definitely">Yes Definitely</option>
                    </select>
                </div>
            </div>

                <br><br>
                <h3>Training Phase</h3>

            <div>
                <label class="control-label" for="feedbackText">Did the training phase make you feel confident to do the sorting task?</label>
                <div>
                    <select class="form-control">
                        <option value="Not At All">Definitely Not</option>
                        <option value="Not Really">Not Really</option>
                        <option value="Yes, mostly">Yes Probably</option>
                        <option value="Yes Definitely">Yes Definitely</option>
                    </select>
                </div>
            </div>

                <br><br>
                <h3>Sorting Images</h3>

                <div>
                    <label class="control-label" for="feedbackText">Did you feel the task you were asked to do was easy enough?</label>
                    <div>
                        <select class="form-control">
                            <option value="Not At All">Really Easy</option>
                            <option value="Not Really">Quite Easy</option>
                            <option value="Yes, mostly">Quite Difficult</option>
                            <option value="Yes Definitely">Really Difficult</option>
                        </select>
                    </div>
                </div>

                <br><br>
                <h3>Reward Images</h3>

                <div>
                    <label class="control-label" for="feedbackText">Did you feel the reward system and fun facts were enjoyable/interesting?</label>
                    <div>
                        <select class="form-control">
                            <option value="Not At All">Not at all</option>
                            <option value="Not Really">Not really</option>
                            <option value="Yes, mostly">Yes mostly</option>
                            <option value="Yes Definitely">Yes definitely</option>
                        </select>
                    </div>
                </div>

                <br><br>
                <h3>Ease of use</h3>

                <div>
                    <label class="control-label" for="feedbackText">Was the site straightforward to use?</label>
                    <div>
                        <select class="form-control">
                            <option value="Not At All">Not at all</option>
                            <option value="Not Really">Not really</option>
                            <option value="Yes, mostly">Yes mostly</option>
                            <option value="Yes Definitely">Yes definitely</option>
                        </select>
                    </div>
                </div>

                <br><br>

                <h3>Accessibility</h3>

                <div>
                    <label class="control-label" for="feedbackText">If you have aby additional access needs, how could the website be made more accessible to you?</label>
                    <div>
                        <textarea id="feedbackTextAccess" class="form-control"></textarea>
                    </div>
                </div>

                <br><br>

                <div class="form-group">
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>

        <script>
            $(function() {
                $("#feedbackForm").submit(function (e) {
                    e.preventDefault();
                    $.ajax({
                        url: '/api/feedback/',
                        type: 'POST',
                        data: {"feedbackText": $("#feedbackText").val()},
                        success: function (data) {
                            window.location.replace('/userfeedback/submitted');
                        },
                        error: function(data){
                            alert("There was an error storing your feedback. Please try again.")
                        },
                        dataType: 'json'
                    });
                });
            });
        </script>
    </body>
</html>