<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head(title='Feedback')" ></head>
    <body>

        <nav class="navbar navbar-default" th:replace="fragments/navigation"></nav>

        <div class="container">
            <h1>Feedback Received</h1>

            <table class="table" id="feedbackTable">
                <tr><td>User</td><td>Feedback Left</td></tr>
            </table>

        </div>

        <script id="table-entry" type="text/x-handlebars-template">
            <tr data-email="'+users[i].email+'" data-id="'+users[i].id+'">

            <tr data-email={{email}} data-id={{id}}>
                <td>{{email}}</td>
                <td>{{feedback}}</td>
            </tr>
        </script>

        <script>
            $(function() {
                $.ajax({
                    url: '/feedback/',
                    type: 'GET',
                    success: function (feedbackArray) {

                        for (i = 0; i < feedbackArray.length; i++) {
                            var rowTemplateSource = $("#table-entry").html();
                            var rowTemplate = Handlebars.compile(rowTemplateSource);

                            var data = {
                                "email" : feedbackArray[i].userEmail,
                                "feedback" : feedbackArray[i].feedback
                            };

                            var compiledRow = rowTemplate(data);
                            $("#feedbackTable").append(compiledRow);

                            // $("#feedbackTable").append("<tr><td>"+feedbackArray[i].userEmail+"</td><td>"+feedbackArray[i].feedback+"</td></tr>")
                        }
                    },
                    error: function(data){
                        alert("There was an error getting feedback. Please try again.")
                    },
                    dataType: 'json'
                });
            });
        </script>
    </body>
</html>