<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
    <head th:replace="fragments/head(title='Home')" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <nav class="navbar navbar-default" th:replace="fragments/navigation"></nav>
    <body>

    <div class="container">
        <div class="modal fade" id="privacyModal" tabindex="-1" role="dialog" aria-labelledby="privacyModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="privacyModalLongTitle">Thank you for supporting us</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <p>Thank you for visiting the app. Please start by reading some information about brain imaging and moving on to the practice section. You can sign up to unlock extra features such as rewards, rate real images, get a certificate and more! Any data you provide will only be used to help monitor equality, diversity and inclusivity</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Accept</button>
                    </div>
                </div>
            </div>
        </div>



        <section>
            <h1>You can help research into brain diseases by looking at brain scans</h1>
            <p>Researchers are working to improve human health and wellbeing using brain scans. Brain scans, such as Magnetic Resonance Imaging scans, are used to study conditions such as dementia and schizophrenia. </p>
            <h5>Why do we need your help?</h5>
            <p>Researchers can map out the wiring of the brain using a technique called diffusion Magnetic Resonance Imaging. It’s important the wiring is mapped correctly.
            <br>We would like your help to tell us which images haven’t turned out right.</p>
            <h5>How will this contribute to our understanding of brain disorders?</h5>
            <p>Researchers rely on computers to draw parts on the brain from scans. They don’t get it right 100% of the time. We need humans to check what the computers have produced. As we now work with very large studies, we have thousands of images – too many for one person to review!</p>
            <h5>This project directly contributes to a study into the effects of genetic risk for Alzheimer’s disease on the structure of the brain. </h5>

            <br>


            <div class="card" style="width: auto; margin-right: 15%; margin-left: 15%">
                <div class="card-body">
                    <div class="img-responsive text-center">
                        <img src="/img/home_information_img.png" width="100%">
<!--                        <p class="card-title">(Image from Pixabay)</p>-->
                </div>
                </div>
            </div>

            <br>

            <h5>Do I need a scientific background to take part?</h5>
            <p>Anyone can take part and no scientific background is required. We have included some information about brain imaging at the start. There is a training module to teach you what to look for. When you reach the end of a section you will be rewarded with a brain fact and a prize lobe. </p>

            <br>

            <h4>Join us and together we can learn more about the brain!</h4>

            <!-- TODO this value here will need to be changed to the url of the site -->
            <div id="share">
                <div class="fb-share-button"
                     data-href="https://www.cardiff.ac.uk/cardiff-university-brain-research-imaging-centre/"
                     data-layout="button_count"
                     data-size="large">
                </div>
                <a class="twitter-share-button"
                   href="https://twitter.com/intent/tweet?text=Come%20and%20help%20contribute%20to%20our%20citizen%20science%20brain%20app"
                   data-size="large">
                    Tweet</a>
            </div>
            <br>
        </section>
            <br><br>
            <footer class="text-right">
                <p>NeuroSwipe | <a href="https://www.cardiff.ac.uk/cardiff-university-brain-research-imaging-centre/">CUBRIC</a></p>
            </footer>
        </div>
        <script>
            $(document).ready(function() {
                $("#loginError").hide();
                var isshow = localStorage.getItem('isshow');
                if (isshow== null) {
                    localStorage.setItem('isshow', 1);
                    $('#privacyModal').modal('show');
                }

                if(window.location.hash == '#login'){
                    $("#loginError").hide();
                    $("#login-modal").modal('show');
                }

                if(window.location.hash == '#loginerror'){
                    $("#loginError").show();
                    $("#login-modal").modal('show');

                }

            });

        </script>
    </body>
</html>