<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>No Access</title>
        <link rel="stylesheet" type="text/css" href="css/">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
        <script src="/js/bootstrap.js"></script>
    </head>
</head>
<body>
    <nav class="navbar navbar-default" th:replace="fragments/navigation"></nav>
    <div class="container">
        <div class="alert alert-danger">
            <h3>Access Denied</h3>
            <p>You do not have the permissions required to view this page.</p>
        </div>
    </div>
</body>
</html>