<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head(title='Practice')" ></head>
<body>

<nav class="navbar navbar-default" th:replace="fragments/navigation"></nav>

<div class="container">

    <div class="card">
        <div class="card-body row text-center">
            <div class="col-sm">
                <h5>Correct answers: <span id="answersCorrect" class="badge badge-success">0</span></h5>
            </div>
            <div class="col-sm">
                <h5>Incorrect answers: <span id="answersIncorrect" class="badge badge-danger">0</span></h5>
            </div>
        </div>
    </div>

    <br><br>

    <div class="card" id="imagesCard">
        <div class="card-body">
            <h5 class="card-title text-center">Practice</h5>
            <p class="card-text text-center lead">Is this a good scan of a brain?</p>
            <img src="" id="brainImage1" style="width:33%">
            <img src="" id="brainImage2" style="width:33%">
            <img src="" id="brainImage3" style="width:33%">
            <p class="text-center">
                <br><br>
                <a href="#" id="noButton" class="btn btn-danger btn-lg">No</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#" id="yesButton" class="btn btn-success btn-lg">Yes</a>
            </p>
        </div>
    </div>


</div>

<script>
    function correctAnswer() {
        var answersCorrect = $("#answersCorrect").text();
        $("#answersCorrect").text(parseInt(answersCorrect)+1)
    }


    function incorrectAnswer() {
        var answersCorrect = $("#answersIncorrect").text();
        $("#answersIncorrect").text(parseInt(answersCorrect)+1)
    }

    var loadNextImage = function(){
        $.getJSON("/scans/next/practice", function( imageData ) {
            console.log(imageData);
            $("#brainImage1").attr("src", "/brain_images/"+imageData.path1);
            $("#brainImage2").attr("src", "/brain_images/"+imageData.path2);
            $("#brainImage3").attr("src", "/brain_images/"+imageData.path3);

            $("#brainImage1").data("id", imageData.id);
            $("#brainImage1").data("knownGood", imageData.knownGood);

            $("#imagesCard").fadeIn();
        });
    };

    var saveDecisionAndNextImage = function(userAnswer){
        if(userAnswer == $("#brainImage1").data("knownGood")){
            correctAnswer();
        } else {
            incorrectAnswer();
        }

        $("#imagesCard").fadeOut();
        loadNextImage();
    };

    $(function() {
        loadNextImage();

        $("#yesButton").on("click", function(){
            saveDecisionAndNextImage(true);
        });

        $("#noButton").on("click", function(){
            saveDecisionAndNextImage(false);
        });
    });
</script>

</body>
</html>