<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head(title='Practice feedback')" ></head>
<body>

<nav class="navbar navbar-default" th:replace="fragments/navigation"></nav>

<div class="container">
    <h1 class="text-success">Great Fantastic Well Done</h1>

    <p>You are ready to help us sort some real imaging data!</p>

    <p>You spotted <strong>0/0</strong> problem fornix images</p>

    <p><a href="/practice/" class="btn btn-default">Redo Practice</a> <a href="/ratings/" class="btn btn-primary">Sort Images For Real</a></p>

    <h2 class="text-success">Reward image: The occipital lobe</h2>

    <p>Fantastic work! -  you just unlocked the occipital lobe.</p>

    <p><strong>The eyes in the back of your head:</strong></p>

    <p>The occipital lobe sits at the back of the brain. It processes the information we see and allows us to remember and assign meanings to different images.<br>
        <img src="/img/img17.gif">
        <img src="/img/img18.jpg">
    </p>
</div>

</body>
</html>