<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>
    <title>Practice | SwipeRightBrains</title>
</head>
<body>

<nav class="navbar navbar-default" th:replace="fragments/navigation"></nav>

<div class="container">
    <h1>Practice</h1>

    <div class="panel panel-info" id="imagesPanel">
        <div class="panel-heading">Is this a good scan of a brain?</div>
        <div class="panel-body">
            <img src="" id="brainImage1" style="width:33%">
            <img src="" id="brainImage2" style="width:33%">
            <img src="" id="brainImage3" style="width:33%">
        </div>
        <div class="panel-footer text-center">
            <a href="#" class="btn btn-danger btn-lg" id="noButton">No</a>
            <a href="#" class="btn btn-success btn-lg" id="yesButton">Yes</a>
        </div>
    </div>

</div>

<script>
    var loadNextImage = function(){
        $.getJSON("/scans/next", function( imageData ) {
            console.log(imageData);
            $("#brainImage1").attr("src", "/brain_images/"+imageData.path1);
            $("#brainImage2").attr("src", "/brain_images/"+imageData.path2);
            $("#brainImage3").attr("src", "/brain_images/"+imageData.path3);

            $("#brainImage1").data("id", imageData.id);

            $("#imagesPanel").fadeIn();
        });
    };

    var saveDecisionAndNextImage = function(goodBrain){
        $("#imagesPanel").fadeOut();
        loadNextImage();
    };

    $(function() {
        loadNextImage();

        $("#yesButton").on("click", function(){
            saveDecisionAndNextImage(true);
        });

        $("#noButton").on("click", function(){
            saveDecisionAndNextImage(false);
        });
    });
</script>

</body>
</html>