<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>
    <title>Quiz | SwipeRightBrains</title>
</head>
<body>

<nav class="navbar navbar-default" th:replace="fragments/navigation"></nav>

<div class="container">
    <h1>Quiz</h1>

    <div class="panel panel-info container-fluid">
        <div class="panel-heading row">
            <div class="col-xs-8 pull-left"><p>Is this a good image of a brain?</p></div>
            <div class="col-xs-2 pull-right">
                <div class="col-xs-2 pull-left">Question:</div>
                <div id="question_number" class="col-xs-1 pull-right">2</div>
            </div>
        </div>
        <div class="panel-body">
            <img src="" id="brainImage" width="800" height="500" style="width:100%">
        </div>
        <div class="panel-footer text-center">
            <a href="#" class="btn btn-danger btn-lg" id="noButton">No</a>
            <a href="#" class="btn btn-success btn-lg" id="yesButton">Yes</a>
        </div>
    </div>

</div>

<script>
    //From https://www.w3resource.com/javascript-exercises/javascript-array-exercise-17.php
    function shuffle(arra1) {
        var ctr = arra1.length, temp, index;

        // While there are elements in the array
        while (ctr > 0) {
            // Pick a random index
            index = Math.floor(Math.random() * ctr);
            // Decrease ctr by 1
            ctr--;
            // And swap the last element with it
            temp = arra1[ctr];
            arra1[ctr] = arra1[index];
            arra1[index] = temp;
        }
        return arra1;
    }

    var endOfQuiz = function(answers){
        console.log(answers)
        $.ajax({
            url: '/quiz/mark',
            type: 'POST',
            data: answers,
            success: function (data) {
                alert(data);
            }
        });
    };

    var loadQuestion = function (question_number) {
        $.ajax({
            url: "/images/quiz?question_number="+question_number,
            dataType: 'json',
            async: false,
            success: function(imageData) {
                $("#brainImage").attr("src", "/img/quiz_images/"+imageData.filename);
                $("#brainImage").data("id", imageData.id);
            }
        });
    };

    var getUserAnswer = function(answers, current_question, shuffled_questions) {
        if(current_question == 10){
            endOfQuiz(answers);
        }
        loadQuestion(shuffled_questions[current_question]);
        document.getElementById("question_number").innerText = current_question+1;

        document.getElementById("yesButton").onclick = function () {
            console.log("Button clicked, proceeding with true");
            answers[shuffled_questions[current_question]] = true;
            getUserAnswer(answers, current_question+1, shuffled_questions);
        };

        document.getElementById("noButton").onclick = function () {
            console.log("Button clicked, proceeding with false");
            answers[shuffled_questions[current_question]] = false;
            getUserAnswer(answers, current_question+1, shuffled_questions);
        };

    };

    $('document').ready(function(){
        var answers = {};
        var questions = [];
        for (var i = 0; i <= 9; i++) {
            questions.push(i);
        }
        var shuffled_questions = shuffle(questions);
        var current_question = 0;
        loadQuestion(shuffled_questions[current_question]);
        getUserAnswer(answers, current_question, shuffled_questions);
    });
</script>

</body>
</html>