<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>
    <title>Ratings | SwipeRightBrains</title>
</head>
<body>

<nav class="navbar navbar-default" th:replace="fragments/navigation"></nav>

<div class="container">
    <div class="modal fade" id="reward25Modal" tabindex="-1" role="dialog" aria-labelledby="reward25ModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reward25ModalLongTitle">Congratulations</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3>The cerebellum in disease</h3>
                    <p>Diseases such as multiple sclerosis and brain tumours can cause damage to the cerebellum. Patients with this condition often walk with an unstable, uncoordinated gait and frequently stumble or fall over. Excellent! You have unlocked the cerebellum. The cerebellum is Latin for ‘little brain.’ This area is vital for fine tuning your movements and controlling balance. </p>
                    <img src="/img/reward_images/cerebellum.jpg" height="300">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <h1>Ratings</h1>

    <div class="panel panel-info" id="imagesPanel">
        <div class="panel-heading">Is this a good scan of a brain?</div>
        <div class="panel-body">
            <img src="" id="brainImage1" style="width:33%">
            <img src="" id="brainImage2" style="width:33%">
            <img src="" id="brainImage3" style="width:33%">
        </div>
        <div class="panel-footer text-center">
            <a href="#" class="btn btn-danger btn-lg" id="noButton">No</a>
            <a href="#" class="btn btn-success btn-lg" id="yesButton">Yes</a>
        </div>
    </div>

</div>

<script>
    var counter = 0;

    var loadNextImage = function(){
        $.getJSON("/scans/next", function( imageData ) {
            console.log(imageData);
            $("#brainImage1").attr("src", "/brain_images/"+imageData.path1);
            $("#brainImage2").attr("src", "/brain_images/"+imageData.path2);
            $("#brainImage3").attr("src", "/brain_images/"+imageData.path3);
            $("#brainImage1").data("id", imageData.id);
            $("#imagesPanel").fadeIn();
        });
        counter = counter+1;

    };

    var saveDecisionAndNextImage = function(goodBrain){
        $("#imagesPanel").fadeOut();
        $.ajax({
            type: "POST",
            url: "/ratings/save",
            data: {
            	"scanId": $("#brainImage1").data("id"),
                "goodBrain": goodBrain,
            },
            success: function(data){
                loadNextImage();
            },
            error: function(){
                alert("There was an error submitting the data.");
            },
            dataType: "json"
        });
    };

    $(function() {
        loadNextImage();

        $("#yesButton").on("click", function(){
            saveDecisionAndNextImage(true);
        });

        $("#noButton").on("click", function(){
            saveDecisionAndNextImage(false);
        });
    });
</script>

</body>
</html>