<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>
    <title>Ratings | SwipeRightBrains</title>
</head>
<body>

<nav class="navbar navbar-default" th:replace="fragments/navigation"></nav>

<div class="container">
    <h1>Ratings</h1>

    <h2 class="text-success">Well done! You have finished your first 50!</h2>

    <h3>The Parietal Lobe</h3>
    <p>Well done – you just unlocked the parietal lobe!  The parietal lobe contains an area of gray matter called the sensory strip. This processes sensory information such as pain, touch and temperature. </p>

    <p><strong>The somatosensory homunculus</strong><br>
        The sensory strip contains a map of our body. This is called the somatosensory homunculus and is shown below. When you touch something soft with your hand, this information will travel up to the sensory strip to where the hand is mapped on the homunculus. <br>
        <img src="/img/img21.jpg">
    </p>

    <p>Neurosurgeons use the homunculus as anatomical guidance during surgery. For example, if they touch the wrist mapped on the sensory strip, the patient may feel as if someone is actually touching their wrist!<br>
        <img src="/img/img22.gif">
        <img src="/img/img23.png">
    </p>

    <p>
        <a href="/userfeedback/" class="btn-default">Leave us Feedback</a>
    </p>
</div>
</body>
</html>