<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head(title='Ratings')" ></head>
<body class="overflow-hidden">

<nav class="navbar navbar-default" th:replace="fragments/navigation"></nav>

<div class="container">
    <div class="modal fade" id="rewardModal" tabindex="-1" role="dialog" aria-labelledby="rewardModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reward25ModalLongTitle">Congratulations</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3 id="reward_title">The cerebellum in disease</h3>
                    <p id="reward_body">Diseases such as multiple sclerosis and brain tumours can cause damage to the cerebellum. Patients with this condition often walk with an unstable, uncoordinated gait and frequently stumble or fall over. Excellent! You have unlocked the cerebellum. The cerebellum is Latin for ‘little brain.’ This area is vital for fine tuning your movements and controlling balance. </p>
                    <img id="reward_image" src="/img/reward_images/cerebellum.jpg" height="300">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    
    <div class="card" id="imagesCard">
        <div class="card-body">
            <h5 class="card-title text-center">Sort scans for real!</h5>
            <p class="card-text text-center lead">Is this a good scan of a brain?</p>
            <img src="" id="brainImage1" style="width:33%">
            <img src="" id="brainImage2" style="width:33%">
            <img src="" id="brainImage3" style="width:33%">
            <p class="text-center">
                <br><br>
                <button id="noButton" class="btn btn-danger btn-lg">No</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button id="yesButton" class="btn btn-success btn-lg">Yes</button>
            </p>
        </div>
    </div>

</div>

<script>
    var counter = 0;

    var loadNextImage = function(){
        $.getJSON("/scans/next", function( imageData ) {
            $("#brainImage1").attr("src", "/brain_images/"+imageData.path1);
            $("#brainImage2").attr("src", "/brain_images/"+imageData.path2);
            $("#brainImage3").attr("src", "/brain_images/"+imageData.path3);
            $("#brainImage1").data("id", imageData.id);
            $("#yesButton, #noButton").fadeIn(250);
            $("#imagesCard").fadeOut(250, function () {
                $("#imagesCard").removeClass("swipe-right swipe-left");
                $("#imagesCard").fadeIn(250);
            });
        });

        counter = counter+1;

        if(counter == 25){
            //Show 25 modal
            $('#rewardModal').find("h3").html("The temporal lobe");
            $('#rewardModal').find("p").html("Great work! You just unlocked the temporal lobe. The temporal is involved in perceiving and remembering sounds. It also works in conjunction with the hippocampus to form conscious memories.\n" +
                "The case of Henry Molaison 1926-2008: \n" +
                "From an early age, Henry suffered from severe epilepsy. In an effort to control his seizures, he had an operation that removed a large part of his temporal lobe and hippocampus on both sides. Whilst the surgery cured him of his epilepsy, tragically he was left unable to form new memories.   \n");
            $('#rewardModal').find("img").attr("src","/img/img20.png");
            $('#rewardModal').modal('show');
        } else if(counter == 50){
            //show 50 modal
            $('#rewardModal').find("h3").html("The parietal lobe");
            $('#rewardModal').find("p").html("Well done – you just unlocked the parietal lobe!  The parietal lobe contains an area of gray matter called the sensory strip. This processes sensory information such as pain, touch and temperature. \n" +
                "\n" +
                "The somatosensory homunculus: \n" +
                "The sensory strip contains a map of our body. This is called the somatosensory homunculus and is shown below. When you touch something soft with your hand, this information will travel up to the sensory strip to where the hand is mapped on the homunculus. \n");
            $('#rewardModal').find("img").attr("src","/img/img23.png");
            $('#rewardModal').modal('show');
        }
    };

    var saveDecisionAndNextImage = function(goodBrain){
        $("#yesButton, #noButton").hide();
        if(goodBrain){
            $("#imagesCard").addClass("swipe-right");
        }else{
            $("#imagesCard").addClass("swipe-left");
        }

        $.ajax({
            type: "POST",
            url: "/ratings/save",
            data: {
            	"scanId": $("#brainImage1").data("id"),
                "goodBrain": goodBrain,
            },
            success: function(data){
                setTimeout(function(){
                    loadNextImage();
                }, 250);
            },
            error: function(){
                alert("There was an error submitting the data.");
            },
            dataType: "json"
        });
    };

    $(function() {
        $("#imagesCard").hide();
        loadNextImage();

        $("#yesButton").on("click", function(){
            saveDecisionAndNextImage(true);
        });

        $("#noButton").on("click", function(){
            saveDecisionAndNextImage(false);
        });

        $(document).keydown(function(e) {
            switch(e.which) {
                case 37: // left
                    if($("#noButton").is(":visible")){
                        saveDecisionAndNextImage(false);
                    }
                    break;
                case 39: // right
                    if($("#yesButton").is(":visible")) {
                        saveDecisionAndNextImage(true);
                    }
                    break;
                default: return; // exit this handler for other keys
            }
            e.preventDefault(); // prevent the default action (scroll / move caret)
        });
    });
</script>

</body>
</html>