<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head(title='Register')" ></head>
<script>
    $(function () {

        $(".default-select").prop("selected", "selected");
        if($("#age").val() == 0){
            $("#age").val(null);
            $("#age").attr("placeholder", "Please provide an age");
        }

    });
</script>
<body>
<nav class="navbar navbar-default" th:replace="fragments/navigation"></nav>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Please register to help us sort some real scans</h1>
        </div>
        <div class="card-body">
            <form action="/registration/details" th:object="${profile}" method="POST" class="form-horizontal" id="profile-form">
                <div class="form-group">
                    <label class="control-label col-md-4 bmd-label-static" for="email">Display name</label>
                    <div class="col-sm-10">
                        <input id="email" class="form-control" name="username" th:field="*{username}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4 bmd-label-static" for="age">Age</label>
                    <div class="col-sm-10">
                        <input id="age" class="form-control" name="age" th:field="*{age}"/>
                        <p class="text-danger" th:each="error: ${#fields.errors('age')}">Invalid age</p>
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-md-4 bmd-label-static" for="disability">Do you consider yourself to have a disability?</label>
                    <div class="col-sm-10">
                        <select id="disability" class="form-control" name="disability" th:field="*{disability}">
                            <div th:if="${profile.getDisability() == null}">
                                <option value="" class="default-select" disabled hidden>Choose here</option>
                            </div>
                            <option value=1>Yes</option>
                            <option value=0>No</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4 bmd-label-static" for="ethnicity">What is your ethnicity?</label>
                    <div class="col-sm-10">
                        <select id="ethnicity" class="form-control" name="ethnicity" th:field="*{ethnicity}">
                            <div th:if="${profile.getEthnicity() == 0 or profile.getEthnicity() == null}">
                                <option value="" class="default-select" disabled hidden>Choose here</option>
                            </div>
                            <div th:each="ethnicity : ${ethnicityOptions}">
                                <option th:value="${ethnicity.getEthnicityId()}" th:text="${ethnicity.getEthnicity()}"></option>
                            </div>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4 bmd-label-static" for="gender-sex-match">Does your gender identity match your sex as registered at birth?</label>
                    <div class="col-sm-10">
                        <select id="gender-sex-match" class="form-control" name="gender-sex-match" th:field="*{genderSexMatch}">
                            <div th:if="${profile.getGenderSexMatch() == null}">
                                <option value="" class="default-select" disabled hidden>Choose here</option>
                            </div>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                            <option value="">Prefer not to say</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4 bmd-label-static" for="religion">Do you have a religion or belief?</label>
                    <div class="col-sm-10">
                        <select id="religion" class="form-control" name="religion" th:field="*{religion}">
                            <div th:if="${profile.getReligion() == 0 or profile.getReligion() == null}">
                                <option value="" class="default-select" disabled hidden>Choose here</option>
                            </div>
                            <div th:each="religion : ${religionOptions}">
                                <option th:value="${religion.getReligionId()}" th:text="${religion.getReligion()}"></option>
                            </div>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4 bmd-label-static" for="sex">What is your sex?</label>
                    <div class="col-sm-10">
                        <select id="sex" class="form-control" name="sex" th:field="*{sex}">
                            <div th:if="${profile.getSex() == null}">
                                <option value="" class="default-select" disabled hidden>Choose here</option>
                            </div>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4 bmd-label-static" for="sexual-orientation">What is your sexual orientation?</label>
                    <div class="col-sm-10">
                        <select id="sexual-orientation" class="form-control" name="sexual-orientation" th:field="*{sexualOrientation}">
                            <div th:if="${profile.getSexualOrientation() == 0 or profile.getSexualOrientation() == null}">
                                <option value="" class="default-select" disabled hidden>Choose here</option>
                            </div>
                            <div th:each="sexualOrientation : ${sexualOrientationOptions}">
                                <option th:value="${sexualOrientation.getSexualOrientationId()}" th:text="${sexualOrientation.getSexualOrientation()}"></option>
                            </div>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4 bmd-label-static" for="relationship">Are you currently?</label>
                    <div class="col-sm-10">
                        <select id="relationship" class="form-control" name="relationship" th:field="*{relationship}">
                            <div th:if="${profile.getRelationship() == 0 or profile.getRelationship() == null}">
                                <option value="" class="default-select" disabled hidden>Choose here</option>
                            </div>
                            <div th:each="relationship : ${relationshipOptions}">
                                <option th:value="${relationship.getRelationshipId()}" th:text="${relationship.getRelationship()}"></option>
                            </div>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4 bmd-label-static" for="caring-responsibilities">Do you have any caring responsibilities? (Select most applicable)</label>
                    <div class="col-sm-10">
                        <select id="caring-responsibilities" class="form-control" name="caring-responsibilities" th:field="*{caringResponsibility}">
                            <div th:if="${profile.getCaringResponsibility() == 0 or profile.getCaringResponsibility() == null}">
                                <option value="" class="default-select" disabled hidden>Choose here</option>
                            </div>
                            <div th:each="relationship : ${caringResponsibilityOptions}">
                                <option th:value="${relationship.getId()}" th:text="${relationship.getResponsibility()}"></option>
                            </div>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a class="btn btn-primary" onclick="location.href = '/userprofile/'">Skip</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>