<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
        <script src="/js/bootstrap.js"></script>
        <title>Register | SwipeRightBrains</title>
    </head>
    <body>
        <nav class="navbar navbar-default" th:replace="fragments/navigation"></nav>
        <div class="container">
            <h1>Registration was successful</h1>
        </div>
    </body>
</html>