<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head(title='Training')" ></head>
<body>

<nav class="navbar navbar-default" th:replace="fragments/navigation"></nav>

<div class="modal fade" id="rewardModal" tabindex="-1" role="dialog" aria-labelledby="rewardModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rewardModalLongTitle">Congratulations</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Involuntary contributors to neuroscience</h3>
                <p>In 1848 Phineas Gage, a railroad worker, was using an iron rod to pack explosives. In an accident that detonated these explosives, the iron rod was driven through Gage’s frontal lobe. Miraculously, he survived the incident, however friends reported that he was ‘no longer Gage.’  He was said to have lost all sense of social inhibition, swearing publicly and frequently making inappropriate remarks.
                </p>
                <img src="/img/img7.png" height="300">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div class="container">

    <style scoped>
        .card {
            display:inline-block;
            margin: 10px;
        }
        .card .card-img-top {
            height: 320px;
        }
        .card .card-body {
            height: 193px;
        }
    </style>

    <h1>Training</h1>

    <p>The fornix should have a central ‘body’ and two ‘legs’ that curl around underneath.</p>

    <h3>What a Good Fornix Looks Like</h3>

    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/img/img8.png">
        <div class="card-body">
            <h5 class="card-title">From the Top</h5>
            <p class="card-text">This is what a good fornix tractography image looks like from the top.</p>
        </div>
    </div>

    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/img/img9.png">
        <div class="card-body">
            <h5 class="card-title">From the Front</h5>
            <p class="card-text">This is what a good fornix tractography image looks like from the front.</p>
        </div>
    </div>

    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/img/img10.png">
        <div class="card-body">
            <h5 class="card-title">From the Side</h5>
            <p class="card-text">This is what a good fornix tractography image looks like from the side.</p>
        </div>
    </div>

    <br><br><br>

    <h3>Not perfect-looking, but OK</h3>

    <div class="row">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="/img/img11.png">
            <div class="card-body">
                <h5 class="card-title">Some untidy-looking fibres</h5>
                <p class="card-text">It shouldn’t have too many untidy-looking fibres that stick out across the middle or out of the sides (although a few are OK).</p>
            </div>
        </div>

        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="/img/img12.png">
            <div class="card-body">
                <h5 class="card-title">Not necessarily symmetrical</h5>
                <p class="card-text">Sometimes the tract images are not symmetrical and have only a few fibres on one side. Not everyone’s brains are the same on both sides.</p>
            </div>
        </div>

        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="/img/img13.png">
            <div class="card-body">
                <h5 class="card-title">Gap down the middle of the body</h5>
                <p class="card-text">It’s okay if there is a gap down the middle of the body.</p>
            </div>
        </div>
    </div>

    <br><br><br>

    <h3>Bad ones!</h3>

    <div class="row">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="/img/img14.png">
            <div class="card-body">
                <h5 class="card-title">One leg has only 2-3 fibres</h5>
                <p class="card-text">If one leg has only 2-3 fibres, it is a mistake.</p>
            </div>
        </div>

        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="/img/img15.png">
            <div class="card-body">
                <h5 class="card-title">Gaps between the body and the legs</h5>
                <p class="card-text">There shouldn’t be any gaps between the body and the legs. If the legs look like they have been cut off, it is a mistake.</p>
            </div>
        </div>

        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="/img/img16.png">
            <div class="card-body">
                <h5 class="card-title">Gaps between the body and the legs</h5>
                <p class="card-text">Again, there shouldn’t be any gaps between the body and the legs.</p>
            </div>
        </div>
    </div>

    <br><br><br>

    <h3 class="text-center">Have a go at looking at some images for us:</h3>

    <p class="text-center">
        <a href="/practice/" class="btn btn-primary btn-lg">Practice Sorting Images</a>
    </p>

    <br><br>

    <footer class="text-right">
        <p>Copyright &copy; 2017 Swipe Right Brains | <a href="https://www.cardiff.ac.uk/cardiff-university-brain-research-imaging-centre/">CUBRIC</a></p>
    </footer>
</div>
<script>
    $(window).scroll(function() {
        if($(window).scrollTop() + $(window).height() == $(document).height()) {
            $('#rewardModal').modal('show');
        }
    });
</script>
</body>
</html>