<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <script src="/js/bootstrap.js"></script>
    <title>Tutorial | SwipeRightBrains</title>
</head>
<body>

<nav class="navbar navbar-default" th:replace="fragments/navigation"></nav>

<div class="container">
    <h1>Tutorial</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel lacus eget ex sagittis commodo. Quisque blandit urna convallis, euismod nibh at, viverra tellus. In hendrerit bibendum iaculis. Mauris fringilla nibh at pellentesque volutpat. Nunc sagittis sem et nunc viverra, sed hendrerit nibh facilisis. Nam dictum felis dui, eu aliquam enim faucibus quis. Proin at dolor elementum felis consectetur pharetra. Vestibulum in justo eros. Aliquam varius dui non pulvinar semper. Nullam scelerisque tortor id libero rutrum, at venenatis nunc dignissim. Nunc odio risus, posuere eget porttitor ac, condimentum vitae odio. Nam a nunc eget mauris vehicula porta. Etiam eu odio vitae diam dapibus scelerisque.</p>

    <p>Vivamus gravida, diam ut cursus egestas, odio neque tincidunt lorem, nec faucibus metus risus gravida felis. Etiam et nibh id quam posuere ullamcorper. Donec at nisi eget neque ullamcorper porttitor vitae id justo. Mauris varius vitae tellus vel convallis. Pellentesque aliquam nulla quis sapien eleifend consequat. Phasellus tristique erat eu mi tristique, eu vestibulum nulla auctor. Integer in consequat urna, sed auctor metus. Donec semper faucibus tellus nec iaculis. Morbi fermentum nec erat non interdum. Aliquam erat volutpat.</p>

    <p>Nunc cursus viverra metus, vitae efficitur nulla varius sit amet. Nam suscipit diam sit amet lacus placerat feugiat. Sed at risus sagittis, lobortis dolor nec, egestas ex. Pellentesque imperdiet dapibus elit, in sagittis ex molestie nec. Suspendisse libero mauris, fringilla vel lorem at, lobortis consectetur ipsum. Donec dictum vehicula finibus. Fusce eu placerat lorem. Sed ultrices eros a risus aliquam porta. Duis aliquam vitae ipsum in ornare. Sed sed imperdiet orci. Nam sit amet elementum purus, a rhoncus lorem. Sed hendrerit lorem quis eleifend blandit. Fusce aliquet nulla nec nisi blandit mattis. Curabitur euismod, nisi a consectetur tempus, nisi odio tincidunt sapien, et feugiat felis ipsum quis nisi.</p>

    <p>Praesent suscipit hendrerit augue at mattis. Morbi ultricies quam nisi, eu ornare massa auctor vitae. Fusce semper molestie eros vel tincidunt. Donec sed eros est. Aliquam erat volutpat. Praesent aliquet eleifend eros. Quisque iaculis hendrerit scelerisque. Fusce blandit arcu augue, a eleifend ex semper a. Quisque scelerisque tempor dui.</p>
</div>
</body>
</html>