<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head(title='Profile')" ></head>
    <body>

    <nav class="navbar navbar-default" th:replace="fragments/navigation"></nav>


    <div class="container">

        <!-- Modal to confirm disabling a user -->
        <div class="modal fade" id="disableUserModal" tabindex="-1" role="dialog" aria-labelledby="disableUserModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="disableUserModalLongTitle">Disable account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        This means you will not be able to log into your account. It also means we will stop processing your data. This can only be undone by contacting us.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="disableAccount()">Disable account</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal to confirm deleting a user -->
        <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteUserModalLongTitle">Delete account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Clicking the delete button will permanently delete your account. This will remove your rewards and profile as well.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="deleteAccount()">Delete account</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col">
                <div class="card text-center">
                    <div class="card-body">
                        <h2>Account options</h2>
                        <br>

                        <label id="oldEmail" for="newEmail">Change email</label>
                        <div class="form-control">
                            <input class="form-control" id="newEmail" placeholder="New email">
                            <button class="btn btn-primary" onclick="updateEmail()">Update email</button>
                            <p id="emailError"></p>
                        </div>
                        <p class="alert alert-danger">*When your email is successfully changed you will be logged out and required to log back in using your new email</p>
                        <hr><br>
                        <a class="btn btn-primary" href="/registration/details">Edit profile details</a>
                        <div>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#disableUserModal"><h6>Disable account</h6></button>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteUserModal"><h6>Delete account</h6></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col card-container">
                <div class="card">
                    <div class="card-body">
                        <h1>Your progress</h1>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="training" onclick="return false;">
                            <label class="form-check-label" for="training">Completed Training</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="practice" onclick="return false;">
                            <label class="form-check-label" for="practice">10 Correct practice questions</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="sort25" onclick="return false;">
                            <label class="form-check-label" for="sort25">Sorted 25 scans</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="sort50" onclick="return false;">
                            <label class="form-check-label" for="sort50">Sorted 50 scans</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="feedback" onclick="return false;">
                            <label class="form-check-label" for="feedback">Left feedback</label>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h2>Statistics</h2>
                        <h5>This is the number of scans you have helped rate</h5>
                        <h5 style="text-align: center" id="numberScansRated">0</h5>
                        <p>Thank you for your contribution to NeuroSwipe</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h3>Yor participation certificate</h3>
                        <button class="btn btn-primary" onclick="window.open('/userprofile/certificate')">Download now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
         <div class="col">
             <div class="card">
                 <div class="card-body">
                     <h2>Your rewards</h2>
                     <div class="row">
                         <div class="col" data-toggle="tooltip" title="Rewarded for completing the training!" data-placement="bottom">
                             <img class="reward_image" src="/img/blankbrain.jpg" width="50%" id="empty_brain">
                             <img class="reward_image" src="/img/ocipatalseperate.png" width="50%" id="ocipital">
                             <img class="reward_image" src="/img/parentialseperate.png" width="50%" id="parential">
                             <img class="reward_image" src="/img/cerebellemseperate.png" width="50%" id="cerebellem">
                             <img class="reward_image" src="/img/frontalseperate.png" width="50%" id="frontal">
                             <img class="reward_image" src="/img/paritalseperate.png" width="50%" id="parital">
                         </div>

<!--                         <div class="col" data-toggle="tooltip" title="Rewarded for completing the training!" data-placement="bottom">-->
<!--                             <img class="locked_reward" src="/img/img7.jpg" width="100%" id="training_reward_image">-->
<!--                         </div>-->
<!--                         <div class="col" data-toggle="tooltip" title="Rewarded for completing 10 correct practice questions!" data-placement="bottom">-->
<!--                             <img class="locked_reward" src="/img/img18.jpg" width="100%" id="practice_reward_image">-->
<!--                         </div>-->
<!--                         <div class="col" data-toggle="tooltip" title="Rewarded for sorting 25 real images for us!" data-placement="bottom">-->
<!--                             <img class="locked_reward" src="/img/img20.jpg" width="100%" id="sort25_reward_image">-->
<!--                         </div>-->
<!--                         <div class="col" data-toggle="tooltip" title="Rewarded for sorting 50 real images for us!" data-placement="bottom">-->
<!--                             <img class="locked_reward" src="/img/img23.jpg" width="100%" id="sort50_reward_image">-->
<!--                         </div>-->
<!--                         <div class="col" data-toggle="tooltip" title="Rewarded for leaving feedback about NeuroSwipe!" data-placement="bottom">-->
<!--                             <img class="locked_reward" src="/img/img24.jpg" width="100%" id="feedback_reward_image">-->
<!--                         </div>-->
                     </div>
                 </div>
             </div>
         </div>
        </div>
    </div>
    </body>
    <style>

        .card {
            margin-top: 10px;
        }

        .reward_image{
            position: absolute;
        }

        .col{
            display: grid;
        }

        @media only screen and (max-width: 992px)  {

            .row{
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 10px;
                width: 100%;
            }

            .card {
                height: auto;
            }

        }
    </style>
    <script>
        var updateEmail = function(){
            $.ajax({
                type: "PUT",
                url: "/api/account/update/email",
                data: {
                    "newEmail": $("#newEmail").val()
                },
                success: function(data, textstatus, request){
                    var invalidFormat = request.getResponseHeader("invalidFormat");
                    if(invalidFormat){
                        $("#emailError").text("Email is in the wrong format");
                    } else {
                        var updated = request.getResponseHeader("updated");
                        if(updated){
                            window.location = "/logout";
                        } else{
                            var emailExists = request.getResponseHeader("emailExists");
                            if(emailExists){
                                $("#emailError").text("That email is already in use.");
                            } else {
                                $("#emailError").text("There was an error, please try again");
                            }
                        }
                    }
                }})
        };

        var disableAccount = function(){
            $.ajax({
                type: "POST",
                url: "/api/account/disable",
                success: function (data, textstatus, request) {
                    var success = request.getResponseHeader("disabled");

                    if(success){
                        window.location = "/logout";
                    } else {
                        $.notify("There was an error at this time", {});
                    }
                }
            })
        };

        var deleteAccount = function(){
            $.ajax({
                type: "POST",
                url: "/api/account/delete",
                success: function (data, textstatus, request) {
                    var success = request.getResponseHeader("deleted");
                    if(success){
                        window.location = "/logout";
                    } else {
                        $.notify("There was an error at this time", {});
                    }
                }
            })
        };

        $(function() {


            $.ajax({
                type: "GET",
                url: "/api/rewards/",
                success: function(data){
                    jQuery.each(data, function(i, val) {
                        if(val == 1){
                            $("#"+i).prop("checked", true);
                            $("#"+i+"_reward_image").removeClass("locked_reward");
                        }
                    })
                },
                error: function(){
                    alert("There was an error getting this data.");
                }
            });

            $.ajax({
                type: "GET",
                url: "/api/ratings/responses/amount",
                success: function(data){
                    $("#numberScansRated").text(data);
                },
                error: function(){
                    alert("There was an error getting this data.");
                }
            });
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
</html>