<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head(title='Profile')" ></head>
    <script>

        function showOcipital() {
            displayRewardModal("The Occipital", "/img/img18.jpg", "The eyes in the back of your head: \n" +
                "The occipital lobe sits at the back of the brain. It processes the information we see and allows us to remember and assign meanings to different images. The occipital lobe actually receives images from the eyes upside down – it processes them to turn them the right way up!")
        }

        function showParital() {
            displayRewardModal("The parietal lobe", "/img/img23.jpg", "The parietal lobe contains an area of grey matter called the sensory strip. This processes sensory information such as pain, touch and temperature. \n" +
                "\n" +
                "The sensory strip is like a map of our body – the bumps and grooves on the brain’s surface receive information from different parts of the body. It is called the somatosensory homunculus (shown below). The bigger the body part is on the homunculus, the more sensitive the body part. You can see the hands are huge!")
            $("#parietal_extra").removeAttr("hidden");
        }

        function showCerebellem() {
            displayRewardModal("The Cerebellem", "/img/img24.jpg", "The cerebellum is Latin for ‘little brain.’ This area is vital for fine tuning your movements and controlling balance. \n" +
                "\n" +
                "The cerebellum in disease:\n" +
                "Diseases such as multiple sclerosis and brain tumours can damage the cerebellum. If your cerebellum was damaged, you would walk with an unstable, uncoordinated gait and frequently stumble or fall over. ")
        }

        function showFrontal() {
            displayRewardModal("The Frontal", "/img/img7.jpg", "The frontal lobe is involved in thinking, decision making and planning. It is also plays a key role in determining our personality.")
        }

        function showTemporal() {
            displayRewardModal("The Temporal lobe", "/img/img20.jpg", " The temporal lobe is involved in perceiving and remembering sounds. It also works in with other areas of the brain to form conscious memories.")
        }


        function displayRewardModal(brainPart, brainImage, brainDesc) {
            $("#parietal_extra").attr("hidden", "true");
            $("#reward_brain_part").text(brainPart);
            $("#reward_brain_image").attr("src", brainImage);
            $("#reward_brain_desc").text(brainDesc);
            $("#rewardDetailsModal").modal('show');
        }

        var updateEmail = function(){
            $.ajax({
                type: "PUT",
                url: "/api/account/update/email",
                data: {
                    "newEmail": $("#newEmail").val()
                },
                success: function(data, textstatus, request){
                    var invalidFormat = request.getResponseHeader("invalidFormat");
                    if(invalidFormat){
                        $("#emailError").text("Email is in the wrong format");
                    } else {
                        var updated = request.getResponseHeader("updated");
                        if(updated){
                            // window.location = "/logout";
                            $.ajax({type: "POST", url: "/logout"});
                            window.location = "/";
                        } else{
                            var emailExists = request.getResponseHeader("emailExists");
                            if(emailExists){
                                $("#emailError").text("That email is already in use.");
                            } else {
                                $("#emailError").text("There was an error, please try again");
                            }
                        }
                    }
                }})
        };

        var disableAccount = function(){
            $.ajax({
                type: "POST",
                url: "/api/account/disable",
                success: function (data, textstatus, request) {
                    var success = request.getResponseHeader("disabled");

                    if(success){
                        $.ajax({type: "POST", url: "/logout"});
                        window.location = "/";
                    } else {
                        $.notify("There was an error at this time", {});
                    }
                }
            })
        };

        var deleteAccount = function(){
            $.ajax({
                type: "POST",
                url: "/api/account/delete",
                success: function (data, textstatus, request) {
                    var success = request.getResponseHeader("deleted");
                    if(success){
                        $.ajax({type: "POST", url: "/logout"});
                        window.location = "/";
                    } else {
                        $.notify("There was an error at this time", {});
                    }
                }
            })
        };

        $(function() {


            $.ajax({
                type: "GET",
                url: "/api/rewards/",
                success: function(data){
                    jQuery.each(data, function(i, val) {
                        if(val == 1){
                            $("#"+i).prop("checked", true);
                            $("#"+i+"_reward_image").removeAttr("hidden");
                        } else {
                            $("#"+i+"_reward_button").prop("disabled", "true");
                            $("#"+i+"_reward_button").addClass("class", "alert alert-danger");
                        }
                    })
                },
                error: function(){
                    alert("There was an error getting this data.");
                }
            });

            $.ajax({
                type: "GET",
                url: "/api/ratings/responses/amount",
                success: function(data){
                    $("#numberScansRated").text(data);
                },
                error: function(){
                    alert("There was an error getting this data.");
                }
            });
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
    <body>

    <nav class="navbar navbar-default" th:replace="fragments/navigation"></nav>


    <div class="container">
        <div class="modal fade" id="rewardDetailsModal" tabindex="-1" role="dialog" aria-labelledby="rewardModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="rewardModalLongTitle">Congratulations</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3 id="reward_brain_part">Reward image: The frontal lobe</h3>
                        <p id="reward_brain_desc">Well done - you just unlocked the frontal lobe! The frontal lobe is involved in thinking, decision making and planning. It is also plays a key role in determining our personality.</p>
                        <div class="card" style="width: 100%">
                            <div class="card-body text-center">
                                <img class="img-responsive" id="reward_brain_image" src="/img/img7.jpg" height="300">
                                <img class="img-responsive" id="parietal_extra" src="/img/img21.jpg" height="300" hidden>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="disableUserModal" tabindex="-1" role="dialog" aria-labelledby="disableUserModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="disableUserModalLongTitle">Disable account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        This means you will not be able to log into your account. It also means we will stop processing your data. This can only be undone by contacting us.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="disableAccount()">Disable account</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal to confirm deleting a user -->
        <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteUserModalLongTitle">Delete account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Clicking the delete button will permanently delete your account. This will remove your rewards and profile as well.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="deleteAccount()">Delete account</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col">
                <div class="card text-center">
                    <div class="card-body">
                        <h2>Account options</h2>
                        <br>

                        <label id="oldEmail" for="newEmail">Change email</label>
                        <div class="form-control">
                            <input class="form-control" id="newEmail" placeholder="New email">
                            <button class="btn btn-primary" onclick="updateEmail()">Update email</button>
                            <p id="emailError"></p>
                        </div>
                        <p class="alert alert-danger">*When your email is successfully changed you will be logged out and required to log back in using your new email</p>
                        <hr><br><br>
                        <a class="btn btn-primary" href="/registration/details">Edit profile details</a>
                        <div>
                            <br>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#disableUserModal"><h6>Disable account</h6></button>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteUserModal"><h6>Delete account</h6></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col card-container">
                <div class="card">
                    <div class="card-body">
                        <h1>Your progress</h1>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="training" onclick="return false;">
                            <label class="form-check-label" for="training">Completed Training</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="practice" onclick="return false;">
                            <label class="form-check-label" for="practice">10 Correct practice questions</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="sort25" onclick="return false;">
                            <label class="form-check-label" for="sort25">Sorted 25 scans</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="sort50" onclick="return false;">
                            <label class="form-check-label" for="sort50">Sorted 50 scans</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="feedback" onclick="return false;">
                            <label class="form-check-label" for="feedback">Left feedback</label>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h2>Statistics</h2>
                        <h5>This is the number of scans you have helped rate</h5>
                        <h5 style="text-align: center" id="numberScansRated">0</h5>
                        <p>Thank you for your contribution to NeuroSwipe</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h3>Your participation certificate</h3>
                        <button class="btn btn-primary" onclick="window.open('/userprofile/certificate')">Download now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
         <div class="col">
             <div class="card">
                 <div class="card-body">
                     <h2>Your rewards</h2>
                     <div class="row">
                         <div class="col" style="height: 400px;">

                             <img class="reward_image" src="/img/blankbrain.jpg" width="60%" id="empty_brain">
                             <img id="practice_reward_image" class="reward_image" src="/img/ocipatalseperate.png" width="60%" hidden>
                             <img id="sort25_reward_image" class="reward_image" src="/img/temporalseperate.png" width="60%" hidden>
                             <img id="feedback_reward_image" class="reward_image" src="/img/cerebellemseperate.png" width="60%" hidden>
                             <img id="training_reward_image" class="reward_image" src="/img/frontalseperate.png" width="60%" hidden>
                             <img id="sort50_reward_image" class="reward_image" src="/img/paritalseperate.png" width="60%" hidden>
                         </div>
                         <div class="col">
                             <h5>Click these to get more information about the brain!</h5>
                             <button id="practice_reward_button" type="button" class="btn btn-secondary" onclick="showOcipital()">Ocipital</button>
                             <button id="sort25_reward_button" type="button" class="btn btn-secondary" onclick="showTemporal()">Temporal lobe</button>
                             <button id="feedback_reward_button" type="button" class="btn btn-secondary" onclick="showCerebellem()">Cerebellem</button>
                             <button id="training_reward_button" type="button" class="btn btn-secondary" onclick="showFrontal()">Frontal</button>
                             <button id="sort50_reward_button" type="button" class="btn btn-secondary" onclick="showParital()">Paritial</button>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
        </div>
    </div>
    </body>
    <style>

        .card {
            margin-top: 10px;
        }

        .reward_image{
            position: absolute;
            transform: translate(35%, 5%);
        }

        .col{
            display: grid;
        }


        @media only screen and (max-width: 992px)  {

            .row{
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 10px;
                width: 100%;
            }

            .card {
                height: auto;
            }

        }
    </style>

</html>