<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>
    <title>Admin | SwipeRightBrains</title>
</head>
<body>

<nav class="navbar navbar-default" th:replace="fragments/navigation"></nav>

<div class="modal fade" id="confirmRemovalModal" tabindex="-1" role="dialog" aria-labelledby="confirmRemovalModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmRemovalModalLongTitle">Privacy notice and GDPR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove the following user</p>
                <p id="user_to_remove"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                <button type="button" onclick="remove_user()" class="btn btn-primary" data-dismiss="modal">Confirm removal</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmRemovalResponsesModal" tabindex="-1" role="dialog" aria-labelledby="confirmRemovalResponsesModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmRemovalResponsesModalLongTitle">Privacy notice and GDPR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove the following users responses</p>
                <p id="user_to_remove_responses"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                <button type="button" onclick="remove_user_responses()" class="btn btn-primary" data-dismiss="modal">Confirm removal</button>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div>
        <h1>Remove a user</h1>
        <p>Enter the user email you wish to remove</p>
        <input id="remove_user_input" type="text" class="form-control">
        <button onclick="confirm_user_removal()" class="btn btn-primary">Confirm</button>
        <p id="delete_user_success"></p>
    </div>

    <div>
        <h1>Delete a users responses</h1>
        <p>Enter the user email you wish to not include</p>
        <input id="remove_responses_input" type="text" class="form-control">
        <button onclick="confirm_user_removal_responses()" class="btn btn-primary">Confirm</button>
        <p id="rows_affected"></p>
    </div>
    <div>
        <input type="text" id="search_box">
        <button onclick="getResults()">Search</button>
        <table class="table" id="user_table">
            <tr><th>User ID</th><th>User email</th><th>User role</th></tr>
            <div id="user_table_body"></div>
        </table>
    </div>
</div>

<script>
    function getResults(){
        var searchTerm = document.getElementById("search_box").value;

        $.ajax({
            url: '/api/admin/searchUsers?searchTerm='+searchTerm,
            type: 'GET',
            success: function (data) {
                clearTable();
                updateTableContent(data);
            }
        });
    }

    function updateTableContent(users) {
        for (var i = 0; i < users.length; i++) {
            $("table").append('' +
                '<tr data-id="'+users[i].id+'">' +
                '<td>'+users[i].id+'</td>' +
                '<td>'+users[i].email+'</td>' +
                '<td>'+users[i].role+'</td>' +
                '</tr>');
        }
    }

    function clearTable(){
        var table = document.getElementById("user_table");
        var rowCount = table.rows.length;
        for (var i = rowCount - 1; i > 0; i--) {
            table.deleteRow(i);
        }
    }

    function set_result_delete_user(result) {
        if(result){
            $("#delete_user_success").text("Successfully removed user");
        }else{
            $("#delete_user_success").text("Failed to find user");
        }
    }

    function set_result_delete_responses(rows_effected) {
        $("#rows_affected").text("Responses removed");
    }
    function remove_user() {
        var user_email = $("#remove_user_input").val();
            $.ajax({
                url: '/api/admin/removeUser',
                type: 'POST',
                data: {"user_to_remove": user_email},
                success: function (data) {
                    set_result_delete_user(data);
                }
            });
    }

    function confirm_user_removal() {
        var user_email = $("#remove_user_input").val();
        $('#confirmRemovalModal').modal('show');
        $("#user_to_remove").val(user_email);
    }

    function confirm_user_removal_responses() {
        var user_email = $("#remove_responses_input").val();
        $('#confirmRemovalResponsesModal').modal('show');
        $("#user_to_remove_responses").text(user_email);
    }

    function remove_user_responses() {
        var user_id = $("#remove_responses_input").val();
        $.ajax({
            url: '/api/admin/removeUserResponses',
            type: 'POST',
            data: {"user_to_remove_responses":user_id},
            success: function (data) {
                set_result_delete_responses(data);
            }
        });
    }
</script>


</body>
</html>