<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>
    <title>Admin | SwipeRightBrains</title>
</head>
<body>

<nav class="navbar navbar-default" th:replace="fragments/navigation"></nav>

<div class="modal fade" id="confirmRemovalModal" tabindex="-1" role="dialog" aria-labelledby="confirmRemovalModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmRemovalModalLongTitle">Privacy notice and GDPR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove the following user</p>
                <p id="user_to_remove"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                <button type="button" onclick="remove_user()" class="btn btn-primary" data-dismiss="modal">Confirm removal</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmRemovalResponsesModal" tabindex="-1" role="dialog" aria-labelledby="confirmRemovalResponsesModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmRemovalResponsesModalLongTitle">Privacy notice and GDPR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove the following users responses</p>
                <p id="user_to_remove_responses"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                <button type="button" onclick="remove_user_responses()" class="btn btn-primary" data-dismiss="modal">Confirm removal</button>
            </div>
        </div>
    </div>
</div>



<div>
    <div class="container">
        <h1>Remove a user</h1>
        <p>Enter the user email you wish to remove</p>
        <input id="remove_user_input" type="text" class="form-control">
        <button onclick="confirm_user_removal()" class="btn btn-primary">Confirm</button>
        <p id="delete_user_success"></p>
    </div>

    <div class="container">
        <h1>Delete a users responses</h1>
        <p>Enter the user email you wish to not include</p>
        <input id="remove_responses_input" type="text" class="form-control">
        <button onclick="confirm_user_removal_responses()" class="btn btn-default">Confirm</button>
        <p id="rows_affected"></p>
    </div>
</div>

<script>
    function set_result_delete_user(result) {
        if(result){
            document.getElementById("delete_user_success").innerText = "Successfully removed user";
        } else {
            document.getElementById("delete_user_success").innerText = "Failed to find user";
        }
    }

    function set_result_delete_responses(rows_effected) {
        document.getElementById("rows_affected").innerText = "Responses removed";
    }
    function remove_user() {
        var user_email = document.getElementById("remove_user_input").value;
            $.ajax({
                url: '/removeUser',
                type: 'POST',
                data: {"user_to_remove":user_email},
                success: function (data) {
                    set_result_delete_user(data);
                }
            });
    }

    function confirm_user_removal() {
        var user_email = document.getElementById("remove_user_input").value;
        $('#confirmRemovalModal').modal('show');
        document.getElementById("user_to_remove").innerText = user_email
    }

    function confirm_user_removal_responses() {
        var user_email = document.getElementById("remove_responses_input").value;
        $('#confirmRemovalResponsesModal').modal('show');
        document.getElementById("user_to_remove_responses").innerText = user_email
    }

    function remove_user_responses() {
        var user_id = document.getElementById("remove_responses_input").value;
        $.ajax({
            url: '/removeUserResponses',
            type: 'POST',
            data: {"user_to_remove_responses":user_id},
            success: function (data) {
                set_result_delete_responses(data);
            }
        });
    }
</script>


</body>
</html>